---
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import { contentfulClient } from "../lib/contentful.ts";
import type { Experience } from "../lib/contentful.ts";
import Button from "../components/button.astro";

const entries = await contentfulClient.getEntries<Experience>({
  content_type: "experience",
});

const experiences = entries.items
  .map((item) => {
    const { startDate, endDate, role, company, logo, type, typeDescription } =
      item.fields;
    return {
      startDate,
      endDate,
      role,
      company,
      logo,
      type,
      typeDescription,
    };
  })
  .sort(
    (a, b) => (new Date(b.startDate) as any) - (new Date(a.startDate) as any)
  );
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hello 👋 I'm a fullstack developer from Marietta, Georgia. I'm passionate about building new products and learning new technology."
    />

    <br />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Short Bio</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      I’m 17, and I live in East Cobb with my parents and brother. I’ve been
      interested in technology since an early age and have become very skilled
      in many areas. Primarily, I've started doing a lot with application and
      website development. Take a look at my experience and education below, and
      make sure to check out my projects, too! You can view my full resume on
      indeed to see more about my other skills an interests.
    </p>

    <Button
      text="View my full resume on Indeed"
      link="https://profile.indeed.com/p/mitchellp-rq3zc32"
    />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experience & Education
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience, loop) => {
          return (
            <>
              <div
                class={
                  loop !== experiences.length - 1
                    ? "pb-10 border-l border-gray-200 dark:border-neutral-700"
                    : ""
                }
              >
                <AboutExperience
                  startDate={experience.startDate}
                  endDate={experience.endDate}
                  role={experience.role}
                  company={experience.company}
                  logo={(experience.logo as any).fields.file.url}
                  type={experience.type}
                  typeDescription={experience.typeDescription}
                />
              </div>
            </>
          );
        })
      }
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Let's Connect
    </h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Interested in working together or just want to chat? Feel free to <a
        href="mailto:me@mitchellpeck.com"
        class="text-indigo-600 underline">email</a
      > me.
    </p>
  </section>
</Layout>
